@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,700,600,800);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* ---------Header css-------- */

#header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



#header h1 {
  width:500px;
  margin-top: 20px;
  margin-left: 27%;
  text-align: center;
  font-family: Cursive;
  color:#fff;
  padding: 0 10%;
}

.typing-text {
  width: 0;
  padding-top: 0px;
  overflow: hidden; /* Ensures the text doesn't overflow the container */
  border-right: 3px solid white;  /*Creates the typing cursor effect */
  white-space: nowrap; /* Prevents line breaks */
  margin: 0 auto;  /*Centers the container */
  margin-top: 20px;
  font-family: Cursive;
  color: #D0D3D4;
  font-size:18px;
  animation: typing 10s steps(20, end) infinite forwards; /* Adjust the duration as needed */
}

@keyframes typing{
  0%{
    width: 0%;
  }
  50%{
    width: 23%;
  }
}

.user-box{
  top: 50%;
  left: 50%;
  transform: translate(-0%,15%);
  padding-top: 10px;
}


.user-box img{
  border-radius: 50%;
  width: 270px;
  height: 270px;
  border: 3px solid #272327;
}
.user-box h1{
  color: #fff;
  margin-left: 0px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.user-box h5{
  color: royalblue;
  text-align: center;
}





/*-------- Social icons -----------*/

.social-icons{
  top: -10%;
  margin-top: -50px;
  transform: translateY(-50%);
  position: sticky;
  z-index: 1;
  width: 80px;
}
.social-icons ul{
  padding: initial;
}


.social-icons ul li{
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;
  margin-top: 5px;
  color: #fff;
  background: #272327;
}

.social-icons ul li:hover{
  padding-left: 30px;
  width: 80px;
  transition: 1s;
}

.scroll-btn{
  bottom: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #B3B6B7;
  padding: 10px 10px 20px;
  border-radius: 30px;
}


.scroll-bar span{
  border: 2px solid #979A9A;
  font-size: 10px;
  border-radius: 30px;
}
.scroll-bar{
  animation: mover 0.8s infinite alternate;
}
@keyframes mover{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(10px)
  }
}



/*-------responsive-----------*/

/*-------responsive-----------*/

@media (max-width: 768px){

  body{

  margin: 0;

  padding: 0;

  font-family: sans-serif;

}

/*--

#header{

  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)),url('background.jpg');

  background-position: center;

  background-size: cover;

  background-attachment: fixed;

}

*/





#header h1 {

  width:auto;

  margin-top: 50px;

  margin-left: 2%;

  text-align: center;
  font-size: 35px;

  font-family: sans-serif;

  color:#fff;

  padding: 0 10%;

}

.user-box img{

  border-radius: 50%;

  border: 4px solid #272327;

}

.user-box h1{

  color: red;

  font-weight: bold;

  margin: 10px;

  text-align: center;

}

.user-box h5{

  color: red;

  margin-top:-5.0px;

  text-align: center;

}

.scroll-btn{

  bottom: 70px;

  position: absolute;

  left: 50%;

  transform: translateX(-50%);

  border: 2px solid #B3B6B7;

  padding: 10px 10px 20px;

  border-radius: 30px;

}



.scroll-bar span{

  border: 3px solid #B3B6B7;

  font-size: 10px;

  border-radius: 30px;

}

.navbar{

  background-color: red;

}



/* -----------about section ------*/



/*-------- Social icons -----------*/



.social-icons{

  margin-top: -15%;

  transform: translateY(-50%);

  position: sticky;

  z-index: 1;

  width: 50px;

}

.social-icons ul{

  padding: initial;

}



.social-icons ul li{

  height: 40px;

  width: 36px;

  list-style-type: none;

  padding-left: 12px;

  padding-top: 8px;

  margin-top: 5px;

  color: #fff;

  background: #272327;

}



.social-icons ul li:hover{

  padding-left: 30px;

  width: 70px;

  transition: 1s;

}









.typing-text {



  width: 0;



  padding-top: 0px;

  overflow: hidden; /* Ensures the text doesn't overflow the container */

  border-right: 3px solid white;  /*Creates the typing cursor effect */

  white-space: nowrap; /* Prevents line breaks */

  margin: 0 auto;  /*Centers the container */

  margin-top: 20px;

  font-family: sans-serif;

  color: #D0D3D4;

  font-size:17px;

  animation: typing 10s steps(20, end) infinite forwards; /* Adjust the duration as needed */

}



@keyframes typing{

  0%{

    width: 0%;

  }

  50%{

    width: 70%;

  }

}

/*---------- Resume---------- -*/





/* ----------Services -----------*/



}

/* -----------about section ------*/

/*-------- Social icons -----------*/ 
